.checkout-page {
  max-width: 1100px;

  padding: 0px 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  margin-bottom: 100px;
}
.page-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
.checkout-grid {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 12px;
  align-items: start;
}

.delivery-date {
  color: rgb(25, 135, 84);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.cart-item-detail-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  align-items: start;
  gap: 20px;
}
.cart-item-container {
  border: 1px solid rgb(222, 222, 222);
  padding: 20px 15px;
  border-radius: 4px;

  margin-bottom: 10px;
}
.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-title {
  font-size: 16px;
  font-weight: 700;
}
.delivery-option-title {
  font-size: 16px;
  font-weight: 700;
}
.delivery-option {
  display: flex;
  gap: 5px;
  margin: 10px 0px;
}
.delivery-option-date {
  font-weight: 500;
  font-size: 16px;
}
.delivery-option-price {
  color: rgb(120, 120, 120);
}
.delivery-option-input {
  width: 20px;
  height: 20px;
}

.product-img {
  max-height: 120px;
  max-width: 100%;
  margin-inline: auto;
}

.payment-summary {
  padding: 15px;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  margin: 0px;
}
.payment-summary-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.payment-summary-row {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 15px;
  margin-bottom: 9px;
}
.subtotal-row div {
  padding-top: 9px;
}
.checkout-page .subtotal-row .payment-summary-money {
  border-top: 1px solid rgb(222, 222, 222);
}
.cart-quantity {
  display: flex;
  gap: 5px;
}
.checkout-page .total-row {
  padding-top: 18px;
  border-top: 1px solid rgb(222, 222, 222);
  font-size: 18px;
  font-weight: 700;
  color: rgb(25, 135, 84);
}

.place-order-button {
  width: 100%;
  padding: 12px 0px;
  margin-top: 20px;
  margin-bottom: 4px;
}
@media (max-width: 1000px) {
  .checkout-grid {
    grid-template-columns: 1fr;
  }
  .cart-item-detail-grid {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: start;
    gap: 20px;
  }
  .delivery-option-container {
    grid-column: 1 / span 2;
  }
  .product-img {
    max-height: 100px;
    max-width: auto;
  }
}
