.checkout-header {
  max-width: 1100px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  margin: 0 auto;
  z-index: 2;
  background-color: #fff;
}

.checkout-left-section .logo {
  width: 200px;
}

.checkout-left-section .mobile-logo {
  height: 26px;
  display: none;
}

.checkout-middle-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  font-size: 22px;
  font-weight: 500;
}

.checkout-cart-quantity {
  color: rgb(25, 135, 84);
}
.checkout-right-section {
  width: 200px;
  display: flex;
  justify-content: end;
}
.checkout-right-section img {
  height: 32px;
}

@media (max-width: 675px) {
  .logo {
    display: none;
  }
  .checkout-left-section .mobile-logo {
    display: block;
  }
  .checkout-header {
    justify-content: space-between;
  }
  .checkout-middle-section {
    flex-grow: 0;
    margin: 0;
  }
  .checkout-right-section {
    width: auto;
  }
}
